body {
	font-family: "Roboto", "Helvetica", sans-serif;
}

.content-grid {
	max-width: 1200px;
}

.header-search {
	margin-top: 4px;
}

a[href="http://78.153.135.186/"] {
	color: yellow;
}

a[href="http://78.153.135.186/"]:visited {
	color: yellow;
}

.intro-card {
	width: 100%;
}

.background-title {
	background-image: url(/images/card.jpg);
	background-position: center;
	background-size: cover;
	height: 150px;
}

.background-title h2 {
	color: #fff;
}

.news-site {
	width: 100%;
}

.iframe {
	width: 100%;
}

iframe {
	width: 100%;
}

.main-navigation li {
	position: relative;
	list-style: none
}

.main-navigation .inner-list {
	position: absolute;
	left: 38px;
	padding: 0;
	margin: 0;
	z-index: 10;
	background-color: #FAFAFA;
	bottom: -132px;
	display: none;
	width: 100%;
}

.main-navigation .inner-list a {
	text-decoration: none;
	color: #878787;
	font-weight: 300;
	padding-left: 10px;
}

.main-navigation .inner-list li {
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.main-navigation .inner-list:hover {
	display: block;
}

.main-navigation .inner-list li:hover {
	background-color: #E4E4E4;
}

.main-navigation li:hover .inner-list {
	display: block;
}

.contacts-information span:first-of-type {
	font-weight: 600;
	margin-right: 5px;
}

.contacts-information img {
	width: 50%;
	height: 50%;
}

.contact-item {
	width: 100%;
}

.schools .type-of-school {
	margin-top: 35px;
}

.schools .type-of-school:nth-of-type(1) .contact-item .background-title {
	background-image: url(../images/Gimnazia.jpg);
	height: 400px;
}

.schools .type-of-school:nth-of-type(2) .contact-item .background-title {
	background-image: url(../images/Sch_nigth.jpg);
	height: 400px;
}

.schools .type-of-school:nth-of-type(3) .contact-item .background-title {
	background-image: url(../images/IIIzd.jpg);
	height: 400px;
}

.schools .type-of-school:nth-of-type(1) .contact-item .mdl-card__supporting-text {}