body {
	font-family: "Roboto", "Helvetica", sans-serif;
}

.content-grid {
	max-width: 1200px;
}

.header-search {
	margin-top: 4px;
}

a[href="http://78.153.135.186/"] {
	color: yellow;
}

a[href="http://78.153.135.186/"]:visited {
	color: yellow;
}

.intro-card {
	width: 100%;
}

.background-title {
	background-image: url(/images/card.jpg);
	background-position: center;
	background-size: cover;
	height: 150px;
}

.background-title h2 {
	color: #fff;
}

.news-site {
	width: 100%;
}